server:
  port: 9000

spring:
  application:
    name: gateway-service

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/LogisticaContenedores

  cloud:
    gateway:
      routes:

        # ===========================
        # CLIENTES SERVICE (8081)
        # ===========================
        - id: clientes-service
          uri: http://clientes-service:8081
          predicates:
            - Path=/api/clientes/**,/api/direcciones/**,/api/geolocalizacion/**

        # ===========================
        # CAMIONES SERVICE (8082)
        # ===========================
        - id: camiones-service
          uri: http://camiones-service:8082
          predicates:
            - Path=/api/camiones/**,/api/tarifas/**

        # ===========================
        # CONTENEDORES SERVICE (8083)
        # ===========================
        - id: contenedores-service
          uri: http://contenedores-service:8083
          predicates:
            - Path=/api/solicitudes/**,/api/rutas/**,/api/tramos/**

        # ===========================
        # OSRM SERVICE (5000)
        # ===========================
        - id: osrm-service
          uri: http://osrm:5000
          predicates:
            - Path=/api/osrm/**

management:
  endpoints:
    web:
      exposure:
        include: "*"

